body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:0;
    background-color:#CCD1E4
}
h2 {
    font-size: 50px;
    color: White;

}

h3 {
    color: red
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: #EEEEEE;
    border: 20px solid #FED1EF;
    border-radius: 20px;
}

#clear-button {
    font-weight: bold;
    font-size: 15px;
    color: #1C6DD0;
    margin-top:20px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: #A3E4DB
}